

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" class="all_cars">
      <h1><%= @cars.manufacturer %></h1>
      <p><%= @cars.model %></p>
      <p><%= @cars.year %></p>
      <p><%= @cars.engine_size %></p>
      <p><%= @cars.power %></p>
      <a href="/<%= @cars.id %>/edit">Edit</a>
    </div>
    <form action="/<%= @cars.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
</div>
